<div class="container">
<div class="panel panel-default">
<h5 class="panel-heading text-center">Forgot Your Password?</h5>
<div class="panel-body">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", style: "color:white", class: "btn stylish-color btn-block" %>
  </div>
<% end %>
</div>
</div>
<%= render "devise/shared/links" %>
</div>
