<!-- <p id="notice"><%= notice %></p> -->
<!--<div class="alert alert-success" role="alert" id="notice"><%= notice %></div>-->

<nav class="navbar stylish-color navbar-fixed-top z-depth-1" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav ">
    <% if user_signed_in? %>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <% else %>
    <li><%= link_to "Sign In", new_user_session_path %></li>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <% end %>
    </ul>
  </div>
</nav>

<h4 class="page-header text-center">My Photo Gallery</h4>
<div style="height:355px;width:100%;border:9px solid  #4B515D;;font:16px/26px Georgia, Garamond, Serif;background-color: rgba(255, 255, 255, 0.5);overflow:auto;">

<table class="table">

<class="text-center"
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="1"></th>
      <th>Votes</th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <!-- <td><%= image_tag picture.url %></td> -->
        <td><%= image_tag picture.image.url(:thumb) %>
        <td><%= picture.user.email %></td>
        <td><%= pluralize(picture.votes.count, "vote") %></td>
        <td><%= button_to '+1', upvote_picture_path(picture), method: :post %></td>
        <td><%= link_to 'Show', picture %></td>
        <%if picture.user == current_user %>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>
 <br>Homer <br>Simpson?"
 <br>Homer <br>Simpson?"
 <br>Homer <br>Simpson?"
 <br>Homer <br>Simpson?" <br>Homer <br>Simpson?"
  <br>Homer <br>Simpson?" <br>Homer <br>Simpson?"
   <br>Homer <br>Simpson?" <br>Homer <br>Simpson?"
    <br>Homer <br>Simpson?" <br>Homer <br>Simpson?"
     <br>Homer <br>Simpson?" <br>Homer <br>Simpson?"
      <br>Homer <br>Simpson?"
</div>
<br>

<%= link_to 'New Picture', new_picture_path, style: "color:white", class: "btn stylish-color btn-block" %>
