<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @review.picture.title %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |

<% if @review.picture.nil? %>
	<%= link_to 'Back', reviews_path %>
<% else %>
	<%= link_to 'Back', @review.picture %>
<% end %>
